.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 38rem;
}

.navigation li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

.navigation li a {
  text-decoration: none;
  color: white;
  transition: all 0.2s;
}

.navigation li a.active,
.navigation li a:hover {
  cursor: pointer;
  color: #aaa;
}

.active {
  color: #aaa;
}
