.search {
  padding: 3.2rem;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.search-form {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}

.search-form input {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: #fff5f5;
  font-size: 1.2rem;
  letter-spacing: 2px;
  transition: all 0.3s;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 0 2px 3px #3333338f;
}

.src-btn {
  background-color: #495057;
  color: #fff;
  padding: 0.8rem 0.9rem;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}

.src-btn:hover {
  color: #495057;
  background-color: #fff;
  box-shadow: 0 0 0 0.5px #495057;
}

.input-block {
  position: relative;
}

.matches {
  list-style: none;
  max-height: 12rem;
  width: 100%;
  font-size: 1.2rem;

  position: absolute;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  text-align: start;
  background-color: #ffffff;

  top: 70%;
  left: -0.1rem;

  border-radius: 8px;
  box-shadow: 0 0 2px 3px #3333338f;
  padding: 0;
}

.matches li {
  cursor: pointer;
  padding: 0.4rem 0rem 0.4rem 0.4rem;
  transition: all 0.5s;
  margin: 0.4rem;
}

.matches li:hover {
  box-shadow: 0 0 0 1px #333;
  border-radius: 8px;
  background-color: #fff5f5;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f03e3e;
  cursor: pointer;
}
