.search {
  padding: 3.2rem;
}

.search-form {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}

.search-form input {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: #fff5f5;
  font-size: 1.2rem;
  letter-spacing: 2px;
  transition: all 0.3s;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 0 2px 3px #3333338f;
}

.src-btn {
  background-color: #495057;
  color: #fff;
  padding: 0.6rem 0.8rem;
  border-radius: 100%;
  cursor: pointer;
}
