.all-currencies {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  animation: show 2s ease-in forwards;
}

.not-found {
  text-align: center;
  margin: 0;
  font-size: 2.4rem;
  letter-spacing: 2px;
}
