.all-currencies {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  animation: show 2s ease-in forwards;
}

.not-found {
  text-align: center;
  margin: 0;
  font-size: 2.4rem;
  letter-spacing: 2px;
}

.show-currencies-appear {
  opacity: 0;
}

.show-currencies-appear-active {
  opacity: 1;
  transition: opacity 1000ms;
}
