.todos {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  margin: 0 32rem;
  transition: all 0.4s;
}

.create {
  background-color: #ffdeeb32;
  color: #ced4da;
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  align-self: center;
  position: relative;
  transition: all 0.4s;
}

.create span {
  position: absolute;
  font-size: 64px;
  top: 30%;
  left: 0;
  right: 0;
}

.create:active,
.create:hover {
  cursor: pointer;
  color: #f8f9fa;
}
