.form-element {
  margin-left: auto;
  margin-right: auto;
  padding: 3.2rem 0;
}

.form {
  background-color: #fff;
  padding: 2.4rem;
  margin: 0 12rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-obj {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.input-obj label {
  align-self: start;
  font-weight: bold;
  font-size: 20px;
}

.input-obj input {
  border: 1px solid rgb(181, 181, 181);
  transition: all 4s;
  font-size: 18px;
}

.input-obj input:focus {
  outline: 1px solid rgb(117, 50, 103);
}

.form button {
  background: rgb(117, 50, 103);
  color: #fff;
  align-self: start;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
